*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#050816,#0d1b3a,#08111f);
    color:white;
    overflow-x:hidden;
}

/* Background Bintang */
#stars{
    position:fixed;
    inset:0;
    background-image:
        radial-gradient(white 1px,transparent 1px),
        radial-gradient(#8ab4ff 1px,transparent 1px);
    background-size:80px 80px,140px 140px;
    animation:starsMove 60s linear infinite;
    opacity:.6;
    z-index:-1;
}

@keyframes starsMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-300px);
    }
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px;
}

.glass{
    width:100%;
    max-width:420px;
    text-align:center;
    padding:35px;
    border-radius:28px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.18);
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.small-text{
    color:#ffd369;
    letter-spacing:2px;
    margin-bottom:18px;
}

h1{
    font-size:50px;
    line-height:1.2;
    font-family:'Great Vibes',cursive;
}

h1 span{
    display:block;
    font-size:55px;
    margin:10px 0;
    animation:heartbeat 1.2s infinite;
}

@keyframes heartbeat{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.25);
    }
}

.date{
    margin-top:18px;
    font-size:18px;
    opacity:.85;
}

.desc{
    margin:25px 0;
    line-height:1.8;
    color:#ddd;
}

button{
    border:none;
    outline:none;
    cursor:pointer;
    padding:16px 35px;
    border-radius:999px;
    background:#ff4d6d;
    color:white;
    font-size:17px;
    font-weight:600;
    transition:.35s;
    box-shadow:0 0 25px rgba(255,77,109,.45);
}

button:hover{
    transform:translateY(-4px) scale(1.05);
    box-shadow:0 0 40px rgba(255,77,109,.75);
}

#nextSection{
    padding:90px 25px;
    text-align:center;
}

#nextSection h2{
    font-size:38px;
    margin-bottom:18px;
}

#nextSection p{
    max-width:650px;
    margin:auto;
    line-height:1.9;
    color:#ddd;
}

footer{
    text-align:center;
    padding:35px;
    color:#aaa;
    font-size:14px;
}

@media(max-width:768px){

    h1{
        font-size:42px;
    }

    h1 span{
        font-size:45px;
    }

    .glass{
        padding:28px;
    }

}
.counter{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-top:40px;
}

.box{
width:85px;
padding:15px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(12px);
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,.3);
}

.box h3{
font-size:30px;
color:#ff4d6d;
margin-bottom:8px;
}

.box span{
font-size:14px;
color:#ddd;
}
